# NestJS specific
dist/
node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output
/test-results/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment
.env
.env.*
!.env.example

# Temporary files
.temp/
.tmp/
/tmp
/temp

# OS
.DS_Store

# Compiled output
/dist
/node_modules
/build
